

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
    width: 30%
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.button{
  width: 40%;
}
.loginError{
  color:red;
}
form a{
  color: blue;
}